*,
*:after,
*:before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Montserrat" , Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* 
|##
|##     Common Styles
|##
 */
 .Loader{
    position:fixed;
    z-index:999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.Loader .LoaderWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.Loader .LoaderWrapper .circleBall{
    display: inline-block;
    width: 1.5rem;
    height:1.5rem;
    border-radius: 50%;
    background: #30A1F1;
    animation: Loadergrow 1.6s infinite ease-in both;
}
.Loader .LoaderWrapper .circleBall:nth-child(1){
    animation-delay: 0s;
}
.Loader .LoaderWrapper .circleBall:nth-child(2){
    animation-delay: 0.2s;
}
.Loader .LoaderWrapper .circleBall:nth-child(3){
    animation-delay: 0.4s;
}
 .collapse_menu i.fa-bars,
 .collapse_menu i.fa-times{
     font-size: 27px;
     cursor: pointer;
     color: #00BFD8;
     display:none;
 }
.Gototop{
    visibility:hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #00BFD8;
    color: white;  
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    animation: bounce 1.5s infinite;
}
.Gototop:hover{
    background: #30A1F1;
    animation: none;
}
.Section{
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
}
.Section .Heading h2{
    font-size: 35px;
}
.Section .Heading.Big h2{
    font-size: 9vmin;
}
.Section .Heading.Center{
    text-align: center;
}

.Section .Heading.Center h2{
    display: inline-block;
}
.Section .Heading h2{
    background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    margin-bottom: 30px;
    position: relative;
}

.Section .Heading.Center h2:after{
    content: "";
    width: 80%;
    height: 2px;
    background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    display: inline-block;
    transform: translateY(-10px);
}

.Section .Heading.Center h2:before{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -20px);
    content: "";
    width: 40%;
    height: 6px;
    background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    display: inline-block;
}
.line{
    height: 1px;
    width: 80%;
    margin: 10px auto;
    background: #aaaaaa;
}

.MainBtn{
    padding: 10px;
    display: flex;
}

.banner .MainBtn .Btn{
    padding: 8px 20px;
}
.MainBtn .Btn{
    padding: 5px 20px;
    margin: 5px;
    border: 2px solid #00BFD8;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.6s;
    white-space: pre;
}
.MainBtn .Btn.Bg{
    background: #00BFD8;
    color: #fff;
}
.MainBtn .Btn:hover{
    background: #30A1F1;
    color: #fff;   
}
.social{
    background: #00BFD8;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50%;
    transition: all 0.6s;
    display: inline-flex;
}
.social a{
    color: #fff;
}
.social:hover{
    background: #30A1F1;
}
/* 
|##
|##     Navbar Styles
|##
 */

.navbar .navbar-brand{
    font-family: "Bahnschrift" , Verdana, Geneva, Tahoma, sans-serif;    
    font-weight: bold;
    font-size: 30px;
    color: #00BFD8;
}
.navbar{
    transition: all 0.5s;
    padding: 20px;
}
.navbar.shrink{
    line-height: 1;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 6px #000;
}
.navbar.shrink .nav-item .nav-link{
    color: #00BFD8;
}
.navbar.shrink .nav-item.social .nav-link{
    color: white;
}

.navbar .nav-item .nav-link{
    color: white;
}

/* 
|##
|##     Banner Styles
|##
 */

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center center;
}
.banner .layer{
    background: #a2d5f24b;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .layer .row .col:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .layer .row .headerImg{
    background: url("../img/header-teamwork.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .layer .row  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    transform: translateY(-200%);
}
.banner .layer .row  .col-12 .Discover{
    width: 40px;
    height: 40px;
    background: #30A1F1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(50%);
    animation: bounce 1s infinite;
    cursor: pointer;
}
.banner .layer .row  .col-12 .Discover:hover{
    animation: none;
}
/* 
|##
|##     Service Section
|##
 */
.Service .content{
    padding: 70px;
}
.Service .content .row {
    padding: 3px;
}
.Service .content .row .col-md-6:nth-child(1)  .card .CardImage{
    background-position: -10px 0;
}
.Service .content .row .col-md-6:nth-child(2)  .card .CardImage{
    background-position: -210px 0;
}
.Service .content .row .col-md-6:nth-child(3)  .card .CardImage{
    background-position: -210px -180px;
}
.Service .content .row .col-md-6:nth-child(4)  .card .CardImage{
    background-position: 182px 182px;
}
.Service .content .row .col-md-6:nth-child(5)  .card .CardImage{
    background-position: -610px 0;
}
.Service .content .row .col-md-6:nth-child(6)  .card .CardImage{
    background-position: 185px 0;
}
.Service .content .row .col-md-6:nth-child(7)  .card .CardImage{
    background-position: 185px -180px;
}
.Service .content .row .col-md-6:nth-child(8)  .card .CardImage{
    background-position: -420px 185px;
}
.Service .content .row  .card .CardImage{
    max-width: 175px;
    width: 100%;
    height: 175px;
    margin: 0 auto;
    background: url("../img/services-all.png");
    background-position: -10px;
}
.Service .content .row .col-md-6 {
    padding: 3px;
}
.Service .content .row  .card{
    padding: 10px;
    text-align:center;
}
.Service .content .row .card p{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 15px;
}
.Service .content .row .card .title{
    font-size: 25px;
}

/* 
|##
|##     Portfolio Filter
|##
 */
.Portfolio .content .Filter_List{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.Portfolio .content .Filter_List ul{
    text-align: center;
}
.Portfolio .content .inline-list li{
    display: inline-flex;
    list-style: none;
    padding: 5px 20px;
    border: 2px solid #00BFD8;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 10px;
}
.Portfolio .content  .Portfolio_projects .col-md-6{
    padding: 0;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.Portfolio .content  .Portfolio_projects .col-md-6:hover .Layer{
    opacity: 1;
}
.Portfolio .content  .Portfolio_projects .col-md-6 .Layer{
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #00bfd8b6;
    color: white;
    font-family: "Bahnschrift" , Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s;
    font-size: 20px;
}
.Portfolio .content  .Portfolio_projects .col-md-6 .Layer .text{
    transform: translateY(200%);
    opacity: 0;
}
.Portfolio .content  .Portfolio_projects .col-md-6:hover .Layer .text{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}
.Portfolio .content .inline-list li.active,
.Portfolio .content .inline-list li:hover{
    background: #30A1F1;
    color: white;
}
/* 
|##
|##     Portfolio Filter
|##
 */

.Pricing .content{
    padding: 20px 80px;
}
.Pricing .content .col-md-6 {
    padding: 20px;
}
.Pricing .content  .card:hover{
    border: 1px solid #00BFD8;
    transform: translateY(-10px);
}
.Pricing .content  .card.Premium{
    transform: scale(1.1);
    position: relative;
    overflow: hidden;
    border: 1px solid #00BFD8;
}
.Pricing .content  .card.Premium .Advertise{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #00BFD8;
    width: 75%;
    padding: 5px 0;
    transform: rotate(45deg) translate(30% , -75%);
    z-index: -1;
}
.Pricing .content  .card{
    transition: all 0.2s ;
    text-align: center;
    padding: 10px;
}
.Pricing .content  .card .PlanType{
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
}
.Pricing .content  .card .PlanExplain{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 10px;
    margin-bottom: 10px;
}
.Pricing .content  .card .PlanPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
}
.Pricing .content  .card .PlanPrice .First{
    color: #30A1F1;
    font-size: 25px;
    padding: 0 10px;
}
.Pricing .content  .card .validity{
    color: #7e7e7e;
}
.Pricing .content  .card .PlanDetails{
    font-size: 14px;
    text-align: center;
    line-height: 2;
    padding: 25px 0;
}
.Pricing .content  .card .PlanDetails .Detail{
    display:flex;
    justify-content:center;
    align-items:center;
}
.Pricing .content  .card .PlanDetails .fa-check{
    padding: 0 10px;
    color: #30A1F1;
}
.Pricing .content  .card .PlanDetails .fa-times{
    padding: 0 12px;
    color: #DC3557;
}
.Pricing .content  .card .PlanDetails .MainBtn {
    justify-content: center;
    align-items: center;
}

/* 
|##
|##     Team Section
|##
 */
.Team .content .team-memeber {
    border-radius: 10px;
    margin-top: 20px;
}
.Team .content .team-memeber .card{
    padding: 0 0 20px 0;
}
.Team .content .TopImg{
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.Team .content .TeamInfo .Name{
    margin: 10px 0;
    font-size: 30px;
    color: #30A1F1;
    font-weight: 900;
}
.Team .content .TeamInfo .Job{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-bottom: 15px;
}

 /* 
|##
|##     Contact Section
|##
 */

.Contact .content{
    padding: 40px 20px;
}
.Contact .content .col-md-6 div{
    padding: 10px;
}
.Contact .content .col-md-6 div input:not([type="checkbox"]){
    height: 50px;
}
.Contact .content .col-md-6 div input[type="checkbox"]{
    margin: 10px;
}
.Contact .content .col-md-6 div textarea{
    height: 150px;
}
 /* 
|##
|##     Contact Section
|##
 */
.Footer{
    border-top: 1px solid #7e7e7e;
    padding-top: 20px;
}
 .Footer .row .FooterHeading{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
}
.Footer .row .Explain .FooterLink{
    margin: 5px 0;
}
.Footer .row .Explain .FooterLink i{
    color: #30A1F1;
    font-size: 10px;
    transform: translate(-50%, -25%);
}
.Footer .row .Explain .FooterLink a{
    color: #000;
    font-size: 18px;
}

/* 
|##
|##     Keyframe Animations
|##
 */
@keyframes bounce{
    0%,
    100%{
        transform: translateY(0%);
    }
    40%,
    60%{
        transform: translateY(50%);
    }
}
@keyframes Loadergrow{
    0%,100%{
        transform: scale(0);
        opacity: 0.3;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
}

/* 
|##
|##     For Responsive Desing
|##
 */

@media (max-width: 1000px){
    nav.navbar .nav-item.social{
        display: none!important;
    }
}
@media (max-width: 800px){
    .collapse_menu.deactive .fa-bars{
        display: block;
    }
    .collapse_menu.active .fa-bars{
        display: none;
    }
    .collapse_menu.deactive .fa-times{
        display: none;
    }
    .collapse_menu.active .fa-times{
        display: block;
    }
    .navbar .collapse_menu.deactive ul.nav{
        position: fixed;
        top: 60px;
        left: -55vw;
        width: 55vw;
        height: 100%;
        display: inline-block;
        background: #00BFD8;
        border-right: 5px solid darkcyan;
        transition: all 1s;
    }
    .navbar .collapse_menu.active ul.nav{
        left: 0;
    }
    .navbar ul.nav li a{
        transition: all 0.5s;
        color: #000!important;
    }
    .navbar ul.nav li{
        width: 100%;
        padding: 10px 20px;
        transition: all 0.5s;
    }
    .navbar ul.nav li:hover{
        background: #30A1F1;
    }
    .navbar ul.nav li:hover a{
        margin-left: 20px;
    }
    .navbar ul.nav .nav-item{
        display: block;
    }
    .Pricing .content  .card.Premium{
        transform: scale(1.05)
    }
}
@media (max-width: 600px){
    .navbar{
        padding: 0!important;
        height: 60px;
    }
    .content{
        padding: 0!important;
    }
    .headerImg{
        display: none;
    }
    .Dicover_Parent{
        display: none!important;
    }
}