* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body,
html {
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.backgroundColor {
  background-color: #202020;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  min-height: 70px;
  text-align: center;
}
.backgroundColor h1 {
  font-weight: 400;
}
.backgroundColor span {
  font-weight: 500;

  text-transform: uppercase;
  font-family: "Roboto", "Montserrat", sans-serif;
}
.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action {
  color: #202020;
  border: 3px solid #202020;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
}
.action:active {
  color: #fff;
  background-color: #202020;
}
