@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  user-select: none;
}
body {
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}
.quiz_container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  background: #f8d49d;
  border: 1px solid #efb08c;
  color: #181818;
  font-size: 20px;
  line-height: 1.5;
}
.quiz_stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.quiz_score {
  display: flex;
  align-items: center;
}
.quiz_score .points {
  font-weight: 700;
  margin-left: 10px;
}
.quiz_timer {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #5aa469;
  color: #5aa469;
  font-weight: 700;
  font-size: 17px;
  width: 40px;
  height: 40px;
}
.question_wrapper {
  margin-top: 20px;
  background: #f8f9fa;
  border: 1px solid #efb08c;
  border-radius: 5px;
  padding: 40px 10px 20px 10px;
  text-align: center;
  position: relative;
}
.question_count {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f9fa;
  height: 65px;
  width: 65px;
  border: 1px solid #efb08c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.options_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.options_wrapper .option {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  height: 40px;
  border-radius: 30px;
  border: 1px solid #efb08c;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  margin-top: 20px;
}

.options_wrapper .option.red {
  background: #ca3a1f;
  border: 1px solid #46464646;
  color: #fff;
  animation: wrongAns 0.5s;
}
.options_wrapper .option.green {
  border: 1px solid #46464646;
  background: #5aa469;
  color: #fff;
  animation: correctAns 1.5s;
}
@keyframes correctAns {
  50% {
    transform: scale(1.1);
  }
}
@keyframes wrongAns {
  20%,
  60% {
    transform: translateX(5px);
  }
  40%,
  80% {
    transform: translateX(-5px);
  }
}
.action_btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.action_btns .btn {
  height: 45px;
  width: 200px;
  min-width: 150px;
  margin: 30px 5px 0 0;
  border: 1px solid #f1ae89;
  background: #f5b461;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.action_btns .btn:hover {
  opacity: 0.8;
}
.welcome-txt {
  text-align: center;
  font-weight: 600;
}
