*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  color: #fff;
}
.header.scrolled{
  background: #fff;
  color: #202020;
  border-bottom: 1px solid #202020;
}
.header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  position: fixed;
  color: #fff;
  z-index: 100;
  top: 0;
  right: -250px;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background: #202020;
  transition: all 0.5s;
}
.sidebar.active {
  right: 0;
}
.menu {
  cursor: pointer;
}
.sidebar_header {
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand,
.sidebar_header h4 {
  color: #0099ff;
  text-transform: uppercase;
}
.nav-link-list li {
  list-style-type: none;
}
.nav-link-list li a {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-decoration: none;
}
.nav-link-list li a:hover {
  color: #0099ff;
  background: #303030;
}
.banner {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: url("../img/banner_01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .content {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: #fff;
}
.banner .icon-wrapper {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-items: center;
  border: 2px solid #0099ff;
}
.banner i {
  color: #fff;
  font-size: 40px;
}
.banner h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.banner h1 span {
  color: #0099ff;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #333333bb;
}

.container {
  position: relative;
}
.section {
  padding: 100px 150px;
}
.bio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bio .w-50 {
  width: 50%;
  height: 400px;
  padding: 25px;
  overflow: hidden;
}
.bio img {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bio .content {
  margin-top: 10px;
}
.bio .content h3 {
  font-size: 28px;
  font-weight: 500;
}
.bio .content p {
  font-size: 15px;
}
.m-right {
  margin-right: 20px;
  text-align: left;
}
.m-left {
  margin-left: 20px;
  text-align: right;
}
.btn {
  display: inline-block;
  width: 150px;
  border: 2px solid #0099ff;
  color: #0099ff;
  outline: none;
  border-radius: 20px;
  height: 40px;
  margin-top: 25px;
  background: transparent;
}
.btn:hover {
  background: #0099ff;
  color: #fff;
}
.title {
  text-align: center;
  color: #0099ff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 35px;
}

.image_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.image_gallery .image {
  width: 25%;
  height: 225px;
  overflow: hidden;
}
.image_gallery .image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.image_gallery .image img:hover {
  transform: scale(1.1);
}
.about{
  background: #d2d2d2;
}
.footer {
  background: #202020;
  color: #fff;
  text-align: center;
  margin: 0 !important;
  padding-bottom: 10px !important;
}
.form{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.group input {
  width: 50%;
  height: 40px;
}
.myinput{
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  background: #757575b4;
  border: 2px solid #303030;
}
.myinput:focus{
  border: 2px solid #0099ff;
}
.group textarea {
  width: 100%;
  height: 120px;
}

.line {
  width: 100%;
  height: 2px;
  background: #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copyright {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #757575b4;
}
.copyright a {
  text-decoration: none;
}

@media screen and (max-width: 900px){
  .section{
    padding: 40px 60px;
  }
  .group input {
    width: 100%;
  }  
  .image_gallery .image {
    width: 50%;
  }  
  .w-50{
    padding: 10px!important;
    margin: 0!important;
  }
}
@media screen and (max-width: 600px){
  .section{
    padding: 15px 30px;
  }
  .image_gallery .image {
    width: 100%;
  }
  .bio .w-50{
    width: 100%!important;
    height: auto !important;
  }
  .bio {
    display: block;
  }
  .d-m-none{
    display: none;
  }
}