*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: #181818;
    font-family: "Orbitron", sans-serif;
    color: #7bf6e4;
    font-size: 20px;
}
.clock{
    padding: 20px 40px;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: center;
    width: 400px;
}
.dayName{
    text-transform: uppercase;
    font-size: 15px;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
}
.HrMinSec{
    font-size: 35px;
}
.merdian{
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 10px;
}

